<style>
.jgt-logo img {
  height: 38px;
}
</style>

<header class="jgt-header">

  <!-- LOGO -->
  <div class="jgt-logo" style="text-align:left;">
    {% if settings.logo %}
      <img
        src="{{ settings.logo | image_url: width: 200 }}"
        alt="{{ shop.name }}"
        loading="lazy"
        width="200">
    {% else %}
      <h2>{{ shop.name }}</h2>
    {% endif %}
  </div>

</header>

{% schema %}
{
  "name": "Header Juguettos",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "presets": [
    {
      "name": "Header Juguettos"
    }
  ]
}
{% endschema %}
